_log:
  - &log_base |
    [loggers]
    keys=root,cloudinit

    [handlers]
    keys=consoleHandler,cloudLogHandler

    [formatters]
    keys=simpleFormatter,arg0Formatter

    [logger_root]
    level=DEBUG
    handlers=consoleHandler,cloudLogHandler

    [logger_cloudinit]
    level=DEBUG
    qualname=cloudinit
    handlers=
    propagate=1

    [handler_consoleHandler]
    class=StreamHandler
    level=INFO
    formatter=arg0Formatter
    args=(sys.stderr,)

    [formatter_arg0Formatter]
    format=%(filename)s[%(levelname)s]: %(message)s

    [formatter_simpleFormatter]
    format=[CLOUDINIT] %(filename)s[%(levelname)s]: %(message)s
  - &log_file |
    [handler_cloudLogHandler]
    class=FileHandler
    level=DEBUG
    formatter=arg0Formatter
    args=('/var/log/cloud-init.log', 'a', 'UTF-8')

log_cfgs:
  - [ *log_base, *log_file ]

output: { all: '| tee -a /var/log/cloud-init-output.log' }
